/* Paweł Piłat, Norbert Janas, Paweł Janusz */

html {
    background-image: linear-gradient(to right,rgb(68, 68, 206), rgb(224, 163, 50));
    text-align: center;
    overflow-y: hidden;
}

body {
    text-align: center;
}

canvas { 
    box-sizing: border-box;
    border: 4px rgb(150, 150, 150) solid;
    border-radius: 5px;
    background: #eee; 
}

@media only screen and (max-height: 850px) and (orientation: portrait){
    canvas { 
        box-sizing: border-box;
        border: 4px rgb(150, 150, 150) solid;
        border-radius: 5px;
        background: #eee;

        width: 96vw;
        height: 96vh;

    }  
}


@media only screen and (max-height: 540px) and (max-width: 1000px) and (orientation: landscape){
    canvas { 
        box-sizing: border-box;
        border: 4px rgb(150, 150, 150) solid;
        border-radius: 5px;
        background: #eee; 
        width: 96vw;
        height: 96vh;
    }
}